.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 375px;
    left: 50px;
    z-index: 1;
  }
  
  .baloon {
    position: absolute;
    left: 225px;
    top: 100px;
    z-index: 2;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 245px;
    top: 140px;
    z-index: 3;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 500px;
    top: 275px;
    z-index: 1;
  }