h1 {
    font-family: sans-serif;
    color: orange;
    text-decoration:underline
  }

  .fav-color {
    background-color:yellow;
  }

  body {
    font-size: 16px;
    line-height: 6mm;
    text-align: center;
  }

  #paragraph {
    font-weight:600;
    font-size:3em;
  }

  #rosa {
    background-color:pink
  }

  #azul {
    background-color:lightblue;
  }

  #vermelho {
    background-color: crimson;
  }